.footer {
  background-color: #2e2e2e;
  color: white;
  padding: 6rem 10rem;
  font-family: sans-serif;
  font-size: 18px;
  border-top: 1px solid #777;
  position: relative;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  border-top: 3px solid gray;
}

.footer-left ul {
  list-style: none;
  padding: 2rem 0;
}

.footer-left li {
  margin-bottom: 15px;
}

.footer-right {
  padding: 2rem 0;
  max-width: 50%;
  line-height: 1.6;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.footer__logo img {
  width: 10rem;
  height: 10rem;
}
