/* 全局变量、基础样式 */
:root {
  /* 主题色：绿色 */
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f; /* 浅绿色 */
  --color-primary-dark: #28b485; /* 深绿色 */

  /* 蓝色 */
  --color-blue: #2998ff;
  --color-blue-dark: #5643fa; /* 深蓝色 */

  /* 常用背景色 */
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --color-white: #fff;
  --color-black: #000;

  /* 在后面扩充其它颜色 */
  --color-red: #d8434e;
  --color-yellow: #f4e04d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* google fonts */
@font-face {
  font-family: "";
  src: url("./assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf"),
    url("./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
