<!-- 导航栏 -->

<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="../style.css" />
  <link rel="stylesheet" href="../css/nav.css" />
</head>
<nav class="navbar">
  <div class="nav-container">
    <div class="nav__item">
      <div class="logo-container">
        <img src="../assets/logo.jpg" alt="环保网站logo" class="logo" />
        <span class="site-name">国际环保宣传网站</span>
      </div>
      <ul>
        <li><a href="/index.html">首页</a></li>
        <li><a href="../pages/history.html">环保历程</a></li>
        <li><a href="../pages/policy.html">环保政策</a></li>
        <li><a href="../pages/message.html">环保呼吁</a></li>
      </ul>
    </div>
    <div class="login">
      <a href="../pages/login.html"><span class="login__name">登录</span></a>
      <button class="logout">登出</button>
    </div>
  </div>
</nav>
